body 
{
    font-Family: Poppins, sans-serif;
    background-image: url(https://img.freepik.com/foto-gratis/fondo-textura-madera-pintada-blanco_53876-108398.jpg?t=st=1651711051~exp=1651711651~hmac=d2a8adeeaa3548b2b596f4ea297e16a547678c6139e5d56cd87f77e008c8c698&w=1060);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
div.desc 
{
    text-shadow: 1px 1px;
    text-align: center;
}
div.gallery 
{
  
    float: left;
    margin: auto;
} 
/*div.gallery {
 display: flex;
 width: 100%;
 justify-content: space-around; 
 flex-wrap:wrap ;
 max-width: 1000px;
 margin: auto;
 }*/

div.gallery img {
 display: flex;
 height: 300px;
 width: 100%;
 margin-top: 50px;
 object-fit: contain;
 justify-content: space-around; 
 max-width: 1000px
}

 .card-title
{
    text-shadow: 1px 1px;
    text-align: center;
}
.card-text
{
    text-align: center;
}

.col img {
    margin-top: 50px;
    margin-left: 15px;
    max-width: 1000px;
    display: flex;
    width:90%;
    height: 300px;
    flex-wrap:wrap ;
    object-fit: contain;
    justify-content: space-around;
}
h4{
    text-align: center;
}
