
*{
    
    font-weight: 400 !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;

}
h2, h4{
    font-weight: 700 !important;
    text-decoration: underline;
}
h5{
    font-size: 1.10rem !important ;
}
.row{
    margin: 30px 30px !important;
}
.col{
    padding: 10px 50px;
    text-align: center;
    margin: 10px !important;
    min-width: 450px !important;
    font-size: 1.10rem

}
.infocontacto{
    text-align: left !important;
    margin: 40px 50px 30px 50px;
}
.card{
    
 box-shadow:
 inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);
 border-radius: 5%;
     
}
.contenedor{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  padding-top: 2%;
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-bottom: 2%;

    }
.tarjeta{
  
  justify-content:center;
    
}

.form-control{
    border: 1.5px solid black !important;
}
#btncontacto{
    font-weight: 600 !important;
    margin: 15px;
    background: #0d6efd !important;
    border: 1px solid #0d6efd !important;
}
#btncontacto:hover {
    
    
    background: black !important;
    color: white !important;
    border: 1px solid black !important;
}

.iconos{
    width: 30px;
    margin: 5px;
}
a{
    
    text-decoration: none !important;
}
a:hover {
    text-decoration: none ;
}
.mb-3, p{
    font-size: 1.10rem;
    text-align: left;
}
h6{
    color: red;
}
