body{
    background-image: url(img/bg-registration-form-1.png);  
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
h1{

    text-align: center;
}
.nav{
    background-color: transparent !important;

}
.tiposarte{
    list-style-type: none;
    padding: 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.tiposarte li{
    display: inline-block;
    text-align: center;
    padding-left: 2cm;
    margin: 5px;
}
.tiposarte li a{
    text-decoration: none;
    color: black;
    display: block;
}
.tiposarte li a:hover{
    background-color:lightgray;
}
/*pie de pagina*/

.tabla{
    margin: 100px;
    padding: 50px;

}
.titulofooter{
    font-size: x-large;
    font-weight: 600;
    font-size: small;
    text-align:center ;
}
.descripfooter{
    font-size: x-small; 
    text-align: center;
    text-align: justify;
}

td{
    width: 23%;
    padding: 30px;
}
.cont{


    text-align: center;

}
