
.contacto{
    color: black;
    font-weight: 600 !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    background-image: url(https://img.freepik.com/foto-gratis/fondo-textura-madera-pintada-blanco_53876-108398.jpg?t=st=1651711051~exp=1651711651~hmac=d2a8adeeaa3548b2b596f4ea297e16a547678c6139e5d56cd87f77e008c8c698&w=1060);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#header{
  background:  white !important;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: -2%;
}
h2, h4{
    font-weight: 700 !important;
    text-decoration: underline;
}
h5:hover {
    padding: 1px;
  }
.row{
    margin: 50px 100px !important;
}
.col{
    text-align: center;
    margin: 50px !important;

}
.infocontacto{
    text-align: left !important;
    margin: 40px 50px 30px 50px;
}
.form-control{
    border: 1.5px solid black !important;
}
#btncontacto{
    font-weight: 600;
    margin: 50px;
    background: #15226b !important;
    border: 1px solid #172570 !important;
}
#btncontacto:hover {
    margin: 50px;
    background: transparent !important;
    color: black !important;
    border: 1px solid #172570 !important;
}

.iconos{
    width: 30px;
    margin: 5px;
}
a{
    color: black !important;
    text-decoration: none !important;
}
a:hover {

    text-decoration: none ;
}
.mb-3, p{
    font-size: 1.25rem;
    text-align: left;
}
h6{
    color: red;
}
