<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <link rel="stylesheet" href="/main/resources/static/styleIndex2.css">

        <title>Inicio Carrousel</title>
    </head>

    <body>
        <br>
        <div class="containere sticky-top" id="header">
            <header
                class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                    <img src="https://i.postimg.cc/qB2Wcx9k/Nombre-galeria.png" height="100%" width="100%">
                </a>


                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 ">
                    <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
                </ul>

                <div class="col-md-3 text-end">
                    <button type="button" class="btn btn-outline-primary me-2">Login</button>
                    <button type="button" class="btn btn-primary">Sign-up</button>
                </div>
            </header>
        </div>

        <div class="contenedor">

            <div class="texto-boton">

                <div class="texto1">
                    <h1>Descubra, recopile y venda extraordinarias obras</h1>
                    <br>
                    <h4>La más grande y popular exposición de arte mundial</h4>
                </div>
                <div class="boton">
                    <button type="button" class="btn btn-primary btn-lg">Explora</button>
                    <button type="button" class="btn btn-outline-primary btn-lg">Vende</button>
                </div>

            </div>

            <div class="tarjeta">
                <div class="card" style="width: 27rem;">
                    <img class="card-img-top"
                         src="https://thumbs.dreamstime.com/b/mochila-de-cuadros-afiches-con-decoraci%C3%B3n-moderna-sobre-fondo-vac%C3%ADo-pared-blanca-modelaci%C3%B3n-cuadro-afiche-blanco-161007929.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>



                    </div>

                </div>

            </div>
        </div>


        <div id="baner1">
            <div class="baner2">
                <p>Galeria de arte Tamagoo</p>
                <button type="button" class="btn btn-primary ">Explora</button>
            </div>
        </div>




        <div class="container">

            <div class="col-12">

                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img
                                src="https://p4.wallpaperbetter.com/wallpaper/886/638/359/photography-landscape-nature-morning-wallpaper-preview.jpg"
                                class="d-block w-100" alt="Vincent" width="620px" height="620px">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>En balnco y negro</h5>
                                <p></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img
                                src="https://cryptoshitcompra.com/wp-content/webp-express/webp-images/uploads/2021/10/Bored-Ape-Yacht-Club-Ethereum-NFT-rompe-el-record-con-850x512.png.webp"
                                class="d-block w-100" alt="NFT" width="620px" height="620px">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Bored Ape</h5>
                                <p>Bored Ape Yacht Club, o a menudo llamado coloquialmente Bored Ape, es una
                                    colección
                                    de fichas no fungibles construida en la cadena de bloques Ethereum.
                                    La colección presenta imágenes de perfil de simios de dibujos animados que
                                    se
                                    generan mediante un algoritmo. Yuga Labs es la empresa matriz de Bored Ape
                                    Yacht
                                    Club.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://labibliotecadeltemplojedi.files.wordpress.com/2020/11/img_20201128_043952.jpg"
                                 class="d-block w-100" alt="Mandalorian" width="620px" height="620px">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Mandalorian arte conceptual</h5>
                                <p>El arte conceptual es integral para cualquier tipo de proyecto audiovisual.
                                    Después
                                    de todo, es aquí donde se establecen las bases que ayudan a la creación de
                                    los
                                    distintos elementos visuales en una producción: desde sus personajes y
                                    escenarios
                                    hasta momentos cruciales en su historia.</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

        <br>

        <div class="container">
            <footer class="py-5">
                <div class="row">
                    <div class="col-2">
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                        </ul>
                    </div>

                    <div class="col-2">
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                        </ul>
                    </div>

                    <div class="col-2">
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                        </ul>
                    </div>

                    <div class="col-4 offset-1">
                        <form>
                            <h5>Subscribe to our newsletter</h5>
                            <p>Monthly digest of whats new and exciting from us.</p>
                            <div class="d-flex w-100 gap-2">
                                <label for="newsletter1" class="visually-hidden">Email address</label>
                                <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                                <button class="btn btn-primary" type="button">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="d-flex justify-content-between py-4 my-4 border-top">
                    <p>© 2022 Company, Inc. All rights reserved.</p>
                    <ul class="list-unstyled d-flex">
                        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#twitter"></use>
                                </svg></a></li>
                        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#instagram"></use>
                                </svg></a></li>
                        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#facebook"></use>
                                </svg></a></li>
                    </ul>
                </div>
            </footer>
        </div>



        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


    </body>

</html>